* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2, h3 {
  color: #333;
}

body {
  color: #B6B6B6;
}

section {
  text-align: center;
}

section .section-uptitle {
  margin-bottom: 20px;
  font-size: 24px;
  font-family: 'Kaushan Script';
  font-weight: 400;
  color: #333;
}

section .section-title {
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

section .section-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  margin: 40px auto 0;
  background-color: #F38181;
}

/* header */
.header {
  padding-top: 17px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container .logo {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #95E1D3;
  font-family: 'Montserrat', sans-serif;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  display: flex;
}

.menu-list .menu-item {
  padding: 0px 22.5px;
}

.menu-list .menu-item .menu-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #95E1D3;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-family: 'Montserrat', sans-serif;
}

.menu-list .menu-item .menu-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 10px;
  background: #F38181;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.menu-list .menu-item .menu-link:hover, .menu-list .menu-item .menu-link:focus {
  color: #F38181;
  outline: none;
}

.menu-list .menu-item .menu-link:hover::after, .menu-list .menu-item .menu-link:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* we work */
.we-work {
  padding-top: 81px;
  padding-bottom: 50px;
}

.we-work .work-list {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.we-work .work-list > li {
  width: 33.33%;
}

.we-work .work-list .work-items {
  padding: 0 36px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.we-work .work-list .work-items:first-child,
.we-work .work-list .work-items:nth-child(2),
.we-work .work-list .work-items:nth-child(3) {
  margin-bottom: 100px;
}

.work-items .work-text {
  margin-left: 18px;
}

.work-items .work-text h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.work-items .work-text p {
  font-size: 15px;
  font-family: 'Roboto',serif;
}

/* team */
.team {
  padding-top: 50px;
  padding-bottom: 80px;
}

.team .team-subtitle {
  margin-top: 45px;
  margin-bottom: 27px;
  color: #B6B6B6;
  font-family: 'Roboto',serif;
}

.team .team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style: none;
}

.team .team-list > li {
  width: 33.33%;
}

.team .team-list .team-items {
  margin-right: 30px;
}

.team .team-list .team-items:last-child {
  margin-right: 0;
}

.team-items:hover .socials {
  opacity: 1;
}

.img-wrap {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.img-wrap .team-img {
  display: block;
  width: 100%;
}

.img-wrap::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10px;
  left: -10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(239, 139, 138, 0.8)), to(rgba(229, 207, 130, 0.8)));
  background: linear-gradient(180deg, rgba(239, 139, 138, 0.8) 0%, rgba(229, 207, 130, 0.8) 100%);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.img-wrap:hover::after {
  opacity: 1;
}

.socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: calc(50% - 38px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}

.socials .social-item {
  background: #FCE38A;
  margin-right: 1px;
  padding: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.socials .social-item a {
  display: block;
  height: 100%;
}

.socials .social-item img {
  display: block;
  height: 100%;
  width: auto;
}

.socials .social-item:hover {
  background: #95E1D3;
}

/* footer */
.footer {
  max-width: 1211px;
  margin: 0 auto;
  padding: 10px;
  border-top: 1px solid #B6B6B6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-text {
  font-size: 14px;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
}

.footer .footer-text span {
  color: #F38181;
}

.footer .footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-form input {
  height: 40px;
}

.footer .footer-form input:nth-child(1) {
  width: 230px;
  border: 1px solid #B6B6B6;
  padding-left: 10px;
}

.footer .footer-form input:nth-child(1):focus {
  border: 3px solid #95E1D3;
  outline: none;
}

.footer .footer-form input:nth-child(2) {
  width: 150px;
  background: #95E1D3;
  text-transform: uppercase;
  border: none;
  color: #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.footer .footer-form input:nth-child(2):hover, .footer .footer-form input:nth-child(2):focus {
  background: #659c92;
  outline: none;
}
