// vars
$schemeColor: #95E1D3;
$secondScemeColor: #F38181;
$textColor: #B6B6B6;
$titleColor: #333;
$containerWidth: 1200px;
$textTransform: uppercase;

// mixins
@mixin flexList ($flwrap){
    display: flex;
    flex-wrap: $flwrap;
    list-style: none;
    & > li{
        width: 33.33%;
    }
}

// global styles 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: $containerWidth;
    margin: 0 auto;
}

h2, h3{
    color: $titleColor;
}

body{
    color: $textColor
}



section{
    text-align: center;
    .section-uptitle{
            margin-bottom: 20px;
            font-size: 24px;
            font-family: 'Kaushan Script';
            font-weight: 400;
            color: $titleColor;
    }
        
    .section-title{
        text-transform: $textTransform;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
            &::after{
                content: '';
                display: block;
                width: 60px;
                height: 4px;
                margin: 40px auto 0;
                background-color:$secondScemeColor;
        }
    }
}

@import 'header';

/* we work */
.we-work{
    padding-top: 81px;
    padding-bottom: 50px;
    .work-list{
        margin-top: 65px;
        @include flexList(wrap);
        .work-items{
            padding: 0 36px;
            text-align: left;
            display: flex;
            align-items: flex-start;
        }
        .work-items:first-child,
        .work-items:nth-child(2),
        .work-items:nth-child(3){
            margin-bottom: 100px;
        }
    }
}

.work-items{
    .work-text{
        margin-left: 18px;
        h3{
           margin-bottom: 20px;
           text-transform: $textTransform;
           font-family: 'Montserrat', sans-serif;
           font-size: 14px;
       }
       p{
          font-size: 15px;
          font-family: 'Roboto',serif;
       }
    }
}

/* team */
.team{
    padding-top: 50px;
    padding-bottom: 80px;
    .team-subtitle{
        margin-top: 45px;
        margin-bottom: 27px;
        color: #B6B6B6;
        font-family: 'Roboto',serif;
    }
    .team-list{
        @include flexList(nowrap);
        .team-items{
            margin-right: 30px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

.team-items{
    &:hover{
        .socials{
        opacity: 1;
        }
    }
}
    
.img-wrap{
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    .team-img{
        display: block;
        width: 100%;
    }
    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: -10px;
        left: -10px;
        background: linear-gradient(180deg, rgba(239, 139, 138, 0.8) 0%, rgba(229, 207, 130, 0.8) 100%);
        opacity: 0;
        transition: 0.3s;
    }
    &:hover::after{
        opacity: 1;
    }
}

.socials{
    list-style: none;
    display: flex;
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    top: calc(50% - 38px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    .social-item{
        background:  #FCE38A;
        margin-right: 1px;
        padding: 16px;
        a{
            display: block;
            height: 100%;
        }
        img{
            display: block;
            height: 100%;
            width: auto;
        }
        &:hover {
            background: $schemeColor;
        }
        transition: 0.3s;
    }
}

/* footer */

.footer{
    max-width: 1211px;
    margin: 0 auto;
    padding: 10px;
    border-top: 1px solid #B6B6B6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-text{
        font-size: 14px;
        color: #333333;
        font-family: 'Montserrat', sans-serif;
        span{
            color: $secondScemeColor;
        }
    }
    .footer-form{
        display: flex;
        input{
            height: 40px;
            &:nth-child(1){
                width: 230px;
                border: 1px solid #B6B6B6;
                padding-left: 10px;
            }
            
            &:nth-child(1):focus{
                border: 3px solid #95E1D3;
                outline: none;
            }
            
            &:nth-child(2){
                width: 150px;
                background: #95E1D3;
                text-transform: uppercase;
                border: none;
                color: #fff;
                transition: background 0.3s ease;
            }
            
            &:nth-child(2):hover,
            &:nth-child(2):focus{
                background: #659c92;
                outline: none;
            }
        }
    }
}



